:root {
  --white: #eff0f3;
  --gradient: linear-gradient(-20deg, #536976 0%, #292e49 100%);
  --headline-headline2: 700 1.125rem / normal Nunito;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font: var(--headline-headline2);
  background-color: black;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 10px;
  min-width: 360px;
  max-width: 600px;
  align-items: center;
  background: radial-gradient(
    circle,
    rgba(4, 20, 33, 1) 0%,
    rgba(8, 25, 43, 1) 100%
  );
  .main__container {
    display: flex;
    flex-direction: column;
    width: 100%;

    gap: 10px;
    background: radial-gradient(
      circle,
      rgba(171, 171, 247, 1) 0%,
      rgb(0, 212, 255) 100%
    );
    box-shadow: 0px 21px 22px -15px rgba(0, 212, 255, 0.61);
    -webkit-box-shadow: 0px 21px 22px -15px rgba(0, 212, 255, 0.61);
    -moz-box-shadow: 0px 21px 22px -15px rgba(0, 212, 255, 0.61);

    border-radius: 0 0 20px 20px;
    align-items: center;
    padding: 20px 0;
    position: relative;
    .location__container {
      .search__form {
        display: none;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
        .search__button {
          position: absolute;
          left: 5px;
          top: 5px;
          background-color: transparent;
          border: none;
          object-fit: cover;
          cursor: pointer;
        }
      }
      .location {
        text-align: center;
        color: white;
        font-weight: bold;
        font-size: 2.8rem;
      }
    }
    .weather__icon {
      width: 200px;
      height: 200px;
    }
    .temperature__container {
      position: relative;
      .temperature {
        color: white;
        font-size: 12rem;
        font-weight: bold;
      }
      .degrees {
        font-size: 8rem;
        color: white;
        position: absolute;
        top: 10px;
      }
    }
    .description {
      color: white;
      font-weight: bold;
      font-size: 3rem;
      text-align: center;
    }
    .day {
      color: white;
      text-align: center;
      font-size: 1.5rem;
    }
    .infoToday__container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      color: white;
      .weatherToday__container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        width: 100%;
        justify-content: space-evenly;
        border-top: 1px solid #6ac5ff;
        padding-top: 20px;
        img {
          width: 50px;
          order: -1;
        }
      }
    }
  }
  .footer__container {
    width: 100%;
    .back__button {
      margin: 20px 0 10px 5px;
      background: transparent;
      color: white;
      border: none;
      font-weight: bold;
      cursor: pointer;
      display: none;
    }
    .footerSubtitle__container {
      display: flex;
      justify-content: space-between;
      margin: 10px;
      color: white;
      font-size: 1.5rem;
      .footer-today {
        font-size: 2.3rem;
      }
      .footer-nextDays {
        background: transparent;
        color: white;
        font-weight: bold;
        border: none;
        color: darkgray;
        cursor: pointer;
      }
      .footer__today {
        color: white;
        font-size: 2rem;
        padding-left: 10px;
      }
    }
    .nextHours__container {
      display: flex;
      justify-content: space-between;
      margin: 20px 20px;
      color: white;
      .nextHour__container {
        display: flex;
        gap: 5px;
        flex-direction: column;
        align-items: center;
        border: 1px solid darkgray;
        border-radius: 20%;
        padding: 10px;
        .weatherToday__subtitle {
          color: white;
          font-size: 1.5rem;
        }
        .weatherToday__description {
          color: darkgray;
        }
      }
    }
    .nextDays__container {
      font-size: 1.5rem;
      .nextDay__container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        color: white;
        .nextDay-day {
          padding-left: 10px;
        }
        .nextDayDescription__container {
          display: flex;
          align-items: center;
          margin: 0 auto;
        }
        .maxmin__container {
          display: flex;
          justify-content: flex-end;
          gap: 10px;
          padding-right: 10px;
          align-items: center;
          .temperature-max {
            font-size: 1.7rem;
          }
          .temperature-min {
            font-size: 1.5rem;
            color: gray;
          }
        }
      }
    }
  }

  @media (min-width: 470px) {
    .container {
      .main__container,
      .footer__container {
        margin: 0 auto;
        width: 450px;
      }
    }
  }
  @media (max-width: 600px) and (min-height: 800px) {
    .container {
      height: 100%;
      .main__container {
        gap: 30px;
      }
    }
  }

  @media (min-width: 800px) {
    .container {
      flex-direction: row;
      height: 100vh;
    }
  }
}
