:root {
  --white: #eff0f3;
  --gradient: linear-gradient(-20deg, #536976 0%, #292e49 100%);
  --headline-headline2: 700 1.125rem / normal Nunito;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font: var(--headline-headline2);
  background-color: var(--white);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  min-width: 360px;
  background: radial-gradient(circle, rgba(4,20,33,1) 0%, rgba(8,25,43,1) 100%);
  
  .main__container {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    gap: 10px;
    background: radial-gradient(circle, rgba(171,171,247,1) 0%, rgba(0,212,255,1) 100%);
    max-width: 450px;
    border-radius: 20px;
    align-items: center;
    padding: 20px 0;
    position: relative;
    .back__button {
      display: none;
      background: transparent;
      color: white;
      font-size: 3rem;
      border: none;
      position: absolute;
      left: 0;
      top: 0;
    }
    .span {
      background-color: transparent;
      border: none;
    }
    .country {
      text-align: center;
      color: white;
      font-weight: bold;
      font-size: 2.8rem;
    }
    .weather__logo {
      width: 200px;
      height: 200px;
    }
    .temperature {
      text-align: center;
      max-width: 300px;
      color: white;
      font-size: 12rem;
      font-weight: bold;
    }
    .description {
      color: white;
      font-weight: bold;
      font-size: 2.5rem;
      text-align: center;
    }
    .date {
      color: white;
      text-align: center;
      font-size: 1.5rem;
    }
    .today__container {
      display: flex;
      width: 100%;
      justify-content: space-evenly;
      border-top: 1px solid #6ac5ff;


      padding-top: 20px;
    }
    .mainItems__container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .mainItems__icon {
      width: 30px;
    }
    .mainItems__percentage {
      background: transparent;
      color: white;
      border: none;
      font-weight: bold;
      width: 100px;
      text-align: center;
    }
    .mainItems__description {
      background: transparent;
      color: rgb(232, 229, 241);
      font-weight: bold;
      border: none;
      text-align: center;
      width: 100px;
    }


  }
  
  .footer__container {
    
    color: white;
    padding-bottom: 20px;
    max-width: 470px;
    .subtitle__container {
      display: flex;
      justify-content: space-between;
      margin: 20px 10px;
      .subtitle {
        font-size: 2rem;
      }
      .view__more {
        font-size: 1.5rem;
      }
    }
    .timeLapsItem__container {
      display: flex;
      justify-content: space-evenly;
      .weatherToday__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid white;
        border-radius: 20px;
        padding: 10px;
        .weatherToday__hour {
          color: gray;
        }
      }
    }
    // .items__container {
    //   display: flex;
    //   flex-direction: column;
    //   justify-content: space-evenly;
    //   height: 100%;
    //   .item__container {
    //     display: flex;
    //     justify-content: space-between;
    //     margin: 10px;
    //   }
    // }
    .viewMore__container {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-evenly;
      .viewMoreItem__container {
        display: flex;
        justify-content: space-between;
        margin: 0 10px;
        align-items: center;
        .weather__container {
          display: flex;
          align-items: center;
          gap: 10px;
        }
      }
    }
   
  }
  .main__container-reduce {
    gap: 5px;
    .weather__container {
      display: flex;
      gap: 10px;
      .dateInfo__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
  .footer__container-deploy {
    height: 100%;
    
  }
}

@media (min-width: 470px) {
  .container {
    .main__container , .footer__container {
      margin: 0 auto;
      width: 450px;
    }
  }

}
@media (max-width: 600px) and (min-height: 800px) {
  .container {
    height: 100vh;
    .main__container {
      gap: 30px;
    }
    .main__container-reduce {
      gap: 5px;
    }
  }
}
@media (min-width: 800px) {
  .container {
    flex-direction: row;
    height: 100vh;
  }
}