:root {
  --white: #eff0f3;
  --gradient: linear-gradient(-20deg, #536976 0%, #292e49 100%);
  --headline-headline2: 700 1.125rem/normal Nunito; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%; }

body {
  font: var(--headline-headline2);
  background-color: var(--white); }

.section {
  display: grid;
  place-items: center; }
  .section .container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 360px;
    height: 600px;
    border-radius: 15px; }
    .section .container .search__form {
      margin-top: 20px; }
      .section .container .search__form input {
        border: none;
        opacity: 0.5;
        border-radius: 5px;
        font-size: 2rem; }
    .section .container .time {
      position: absolute;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 250px;
      height: 90px;
      bottom: 30px;
      border-radius: 15px;
      background: var(--gradient); }
    .section .container .div__temp {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center; }
      .section .container .div__temp img {
        width: 40px; }
      .section .container .div__temp input {
        width: 100px;
        height: 40px;
        text-align: center;
        background-color: transparent;
        border: none;
        font-weight: bold;
        font-size: 4rem;
        color: var(--white); }
    .section .container .div__date {
      margin-left: 10px;
      text-align: center; }
      .section .container .div__date .city {
        display: flex;
        align-items: center; }
        .section .container .div__date .city .icon__city {
          width: 14px;
          height: 14px;
          margin-right: 5px;
          filter: brightness(4.25); }
      .section .container .div__date input {
        width: 120px;
        height: 30px;
        background-color: transparent;
        border: none;
        font-weight: bold;
        color: var(--white);
        font-size: 1.4rem; }
